
// common information

$paragraph: 34px;

$primary-color: #3b6dcc;
$secondary-color: #fff;


body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    display: block;
}


.clearfix::after{
    content: '';
    display: block;
    clear: both;
}

// common ends

// ------------ all for desktop view ------------------

// start of container 



.container{
    width: 100%;
    height: 100%;
    overflow: hidden;
   position: relative;
   

   .items{
       width: 200%;
       height: 200%;
       position: fixed;
       top:0;
       left: 0;
        background: url('../images/background.png') center center no-repeat ;
        
       
   }

   .boxes{
       width: 50%;
       height: 50%;
       position: absolute;
       top: 0%;
       left: 0%;
       background-size: cover;
   }

   #first{
    //    background: red;
       display: flex;
       align-items:center;
       justify-content: space-between;

       .mobile-first{
           transition: 1s;
           -webkit-transition: 1s;
           margin-left: -800px;
       }

  

       .main-information{
           margin-top:100px;
           align-self: flex-start;
           margin-right: 80px;
           margin-left: 0px;
           transition: 1s;
           -webkit-transition: 1s;
           opacity: 0;
           h1{
               color: $secondary-color;
               font-size: 100px;
               letter-spacing: 1px;
           }

           p{
               color: #000;
               font-size: $paragraph;
               margin-top: 30px;
           }

            .wrapper-button{
                margin-top: 140px;
                display: flex;
                justify-content: flex-start;
              

                a:last-child{
                    margin-left: 40px;
                }

            
            }
       }
    
       }

   #second{
    //    background: green;
       transform: translate(100% , 0%);
       display: flex;
       align-items: center;
       justify-content: space-between;

        .persons{
            position: relative;

            img{
                position: absolute;
                top: -100px;
                left: 40px;
                transition: 1s;
                -webkit-transition: 1s;


            }

      

            #image-2{
                left: 140px;
            }

            #image-1{
                left: 250px;
            }

            #image-4{
                left: 370px;
            }


        }

        .main-problems{
            // align-self: flex-start;
            margin-right: 80px;
            width: 800px;
            margin-left: 0px;
            transition: 1s;
            -webkit-transition: 1s;

            h2{
                color: $primary-color;
                font-size: 100px;
                letter-spacing:1px;
            }

            p{
                color: #000;
                font-size: $paragraph;
                margin-top: 30px;
            }

      

            .problem-1,.problem-2,.problem-3{
                transition: 1s;
                -webkit-transition: 1s;
            }

            .problem-2,.problem-3{
               display: none;
            }
        }

    }
    #third{
        // background: blue;
        background: url('../images/background.png') center center no-repeat ;
       transform: translate(200% , 0%);
        position: relative;

        .absolute-images{
            .first-image{
                position: absolute;
                top: 25%;
                left: 12%;
                transition: 2s;
                -webkit-transition: 2s;
                
                // visibility: visible;

                img{
                    height: 400px;
                }
            }

            .second-image{
                position: absolute;
                top: 10%;
                left: 3%;
                transition: 2s;
                -webkit-transition: 2s;
                // opacity:0;
                // visibility: hidden;

                img{
                    height: 500px;
                }
            }
        }

        .absolute-description{
            .first-description{
                position: absolute;
                top: 29%;
                right: 10%;
                width: 800px;

                h2{
                    color: $primary-color;
                    font-size: 100px;
                    letter-spacing:1px;
                }

                p{
                    color: #000;
                    font-size: $paragraph;
                    margin-top: 30px;
                }
            }
        }

   }

   #fourth{
        background: pink;
        transform: translate(300% , 0%);
   }

   #fifth{
        // background: pink;
        transform: translate(400% , 0%);
   }
}

// ::-webkit-scrollbar { 
//     display: none; 
// }