body {
  margin: 0;
  font-family: 'Roboto', sans-serif; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

img {
  display: block; }

.center {
  max-width: 1000px;
  margin: auto; }

.clearfix::after {
  content: '';
  display: block;
  clear: both; }

.desktop {
  display: block; }

.mobile-view {
  display: none; }

.fixed {
  position: fixed;
  bottom: 5%;
  left: 5%;
  color: #3b6dcc;
  z-index: 100;
  font-size: 18px; }

.second-fixed {
  position: fixed;
  top: 2%;
  left: 2%;
  color: #fff;
  font-size: 80px;
  z-index: 100;
  font-weight: 700;
  cursor: pointer; }

.third-fixed {
  position: fixed;
  bottom: 5%;
  right: 5%;
  z-index: 100; }
  .third-fixed button {
    background: #3b6dcc;
    opacity: 0.7;
    border-radius: 50%;
    width: 72px;
    height: 72px;
    border: 0;
    outline: 0;
    cursor: pointer;
    animation: grow 4s ease-in-out 3s infinite;
    display: block; }
    .third-fixed button .mouseSpan img {
      height: 70px;
      width: 80px;
      position: absolute;
      left: -5px;
      top: -15px; }
    .third-fixed button .handSpan img {
      height: 70px;
      width: 80px;
      z-index: 500;
      position: absolute;
      left: -8px;
      bottom: -5px;
      animation: hand 4s ease-in-out 3s infinite; }
  .third-fixed .hidden-btn {
    display: none;
    background: #fff; }
    .third-fixed .hidden-btn img {
      height: 70px;
      width: 80px;
      position: absolute;
      left: -5px;
      top: 0px; }

@keyframes grow {
  0% {
    transform: scale(0.7);
    -webkit-transform: scale(0.7); }
  40% {
    transform: scale(1);
    -webkit-transform: scale(1); }
  100% {
    transform: scale(0.7);
    -webkit-transform: scale(0.7); } }
@keyframes hand {
  0% {
    left: -8px;
    bottom: -5px; }
  40% {
    left: -8px;
    bottom: 5px; }
  60% {
    left: -8px;
    bottom: 0px; }
  80% {
    left: -8px;
    bottom: 5px; }
  100% {
    left: -8px;
    bottom: -5px; } }
.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative; }
  .container .items {
    width: 200%;
    height: 200%;
    position: fixed;
    top: 0;
    left: 0; }
  .container .boxes {
    width: 50%;
    height: 50%;
    position: absolute;
    top: 0%;
    left: 0%;
    background-size: cover; }
  .container #first {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: url("../images/section-1.jpg") center center no-repeat;
    background-size: cover; }
    .container #first .mobile-first {
      transition: 1s;
      -webkit-transition: 1s;
      margin-left: -800px; }
    .container #first .main-information {
      margin-top: 100px;
      align-self: flex-start;
      margin-right: 80px;
      margin-left: 0px;
      transition: 1s;
      -webkit-transition: 1s;
      opacity: 0; }
      .container #first .main-information h1 {
        color: #fff;
        font-size: 100px;
        letter-spacing: 1px; }
      .container #first .main-information p {
        color: #000;
        font-size: 34px;
        margin-top: 30px; }
      .container #first .main-information .wrapper-button {
        margin-top: 140px;
        display: flex;
        justify-content: flex-start; }
        .container #first .main-information .wrapper-button a:last-child {
          margin-left: 40px; }
  .container #second {
    transform: translate(100%, 0%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: url("../images/section-2.jpg") center center no-repeat;
    background-size: cover; }
    .container #second .persons {
      position: relative; }
      .container #second .persons img {
        position: absolute;
        top: -200px;
        left: 60px;
        transition: 1s;
        -webkit-transition: 1s;
        height: 400px; }
      .container #second .persons #image-2 {
        left: 160px; }
      .container #second .persons #image-1 {
        left: 320px; }
      .container #second .persons #image-4 {
        left: 460px; }
    .container #second .main-problems {
      margin-right: 80px;
      width: 800px;
      margin-left: 0px;
      transition: 1s;
      -webkit-transition: 1s; }
      .container #second .main-problems h2 {
        color: #3b6dcc;
        font-size: 100px;
        letter-spacing: 1px; }
      .container #second .main-problems p {
        color: #000;
        font-size: 34px;
        margin-top: 30px; }
      .container #second .main-problems .problem-1, .container #second .main-problems .problem-2, .container #second .main-problems .problem-3 {
        transition: 1s;
        -webkit-transition: 1s; }
      .container #second .main-problems .problem-2, .container #second .main-problems .problem-3 {
        display: none; }
  .container #third {
    transform: translate(200%, 0%);
    position: relative;
    background: url("../images/section-3.jpg") center center no-repeat;
    background-size: cover; }
    .container #third .absolute-images .first-image {
      position: absolute;
      transition: 2s;
      -webkit-transition: 2s; }
      .container #third .absolute-images .first-image img {
        height: 600px; }
    .container #third .absolute-images .second-image {
      position: absolute;
      transition: 2s;
      -webkit-transition: 2s; }
      .container #third .absolute-images .second-image img {
        height: 700px; }
    .container #third .absolute-images .third-image {
      position: absolute;
      transition: 2s;
      -webkit-transition: 2s; }
      .container #third .absolute-images .third-image img {
        height: 700px; }
    .container #third .absolute-images .fourth-image {
      position: absolute;
      transition: 2s;
      -webkit-transition: 2s; }
      .container #third .absolute-images .fourth-image img {
        height: 600px; }
    .container #third .absolute-description div {
      position: absolute;
      top: 29%;
      right: 10%;
      width: 800px;
      transition: 2s;
      -webkit-transition: 2s; }
      .container #third .absolute-description div h2 {
        color: #fff;
        font-size: 100px;
        letter-spacing: 1px; }
      .container #third .absolute-description div p {
        color: #000;
        font-size: 34px;
        margin-top: 30px; }
  .container #fourth {
    transform: translate(300%, 0%);
    background: url("../images/section-4.jpg") center center no-repeat;
    background-size: cover; }
    .container #fourth .absolute-images div {
      position: absolute;
      transition: 2s;
      -webkit-transition: 2s; }
      .container #fourth .absolute-images div img {
        height: 700px; }
    .container #fourth .absolute-description div {
      position: absolute;
      top: 29%;
      right: 10%;
      width: 800px;
      transition: 2s;
      -webkit-transition: 2s; }
      .container #fourth .absolute-description div h2 {
        color: #3b6dcc;
        font-size: 100px;
        letter-spacing: 1px; }
      .container #fourth .absolute-description div p {
        color: #000;
        font-size: 34px;
        margin-top: 30px; }

::-webkit-scrollbar {
  display: none; }

@media (max-width: 1630px) {
  .container #first .mobile-first img {
    height: 680px; }
  .container #first .main-information {
    margin-top: 200px;
    margin-left: 140px; }
    .container #first .main-information h1 {
      font-size: 60px; }
    .container #first .main-information p {
      font-size: 20px; }
    .container #first .main-information .wrapper-button {
      margin-top: 60px; }
      .container #first .main-information .wrapper-button img {
        height: 70px; }
  .container #second .persons img {
    height: 200px;
    top: -100px;
    left: 180px; }
    .container #second .persons img #image-2 {
      left: 240px !important; }
    .container #second .persons img #image-1 {
      left: 320px; }
    .container #second .persons img #image-4 {
      left: 460px; }
  .container #second .main-problems {
    margin-right: 20px; }
    .container #second .main-problems h2 {
      font-size: 60px; }
    .container #second .main-problems p {
      font-size: 20px; }
  .container #third .absolute-images .first-image img, .container #third .absolute-images .fourth-image img {
    height: 400px; }
  .container #third .absolute-images .second-image img, .container #third .absolute-images .third-image img {
    height: 500px; }
  .container #third .absolute-description div {
    right: 2%; }
    .container #third .absolute-description div h2 {
      font-size: 60px; }
    .container #third .absolute-description div p {
      font-size: 20px; }
  .container #fourth .absolute-images div img {
    height: 500px; }
  .container #fourth .absolute-description div {
    right: 2%; }
    .container #fourth .absolute-description div h2 {
      font-size: 60px; }
    .container #fourth .absolute-description div p {
      font-size: 20px; } }
@media (max-width: 1430px) {
  .container #first .mobile-first img {
    height: 680px; }
  .container #first .main-information {
    margin-top: 150px;
    margin-left: 180px; }
    .container #first .main-information h1 {
      font-size: 60px; }
    .container #first .main-information p {
      font-size: 20px; }
    .container #first .main-information .wrapper-button {
      margin-top: 60px; }
      .container #first .main-information .wrapper-button img {
        height: 70px; }
  .container #second .persons img {
    height: 200px;
    top: -100px;
    left: 180px; }
    .container #second .persons img #image-2 {
      left: 240px !important; }
    .container #second .persons img #image-1 {
      left: 320px; }
    .container #second .persons img #image-4 {
      left: 460px; }
  .container #second .main-problems {
    width: 600px;
    margin-right: 0px; }
  .container #third .absolute-images .first-image img, .container #third .absolute-images .fourth-image img {
    height: 350px; }
  .container #third .absolute-images .second-image img, .container #third .absolute-images .third-image img {
    height: 450px; }
  .container #third .absolute-description div {
    right: 5%;
    width: 600px; }
  .container #fourth .absolute-images div img {
    height: 450px; }
  .container #fourth .absolute-description div {
    right: 5%;
    width: 600px; } }
@media (max-width: 1400px) {
  .desktop {
    display: none; }

  .mobile-view {
    display: block; }
    .mobile-view > div {
      height: 652px; }
    .mobile-view h1, .mobile-view h2 {
      font-size: 60px;
      color: #fff; }
    .mobile-view p {
      font-size: 20px;
      margin-top: 25px; }
    .mobile-view .landing-page {
      background: linear-gradient(to right, #3b6dcc, #2fb0dd);
      max-width: 100%;
      background-size: cover;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center; }
      .mobile-view .landing-page .absolute-hand {
        position: absolute;
        bottom: 0;
        left: 0; }
        .mobile-view .landing-page .absolute-hand img {
          height: 700px; }
      .mobile-view .landing-page .center {
        display: flex;
        justify-content: flex-end; }
      .mobile-view .landing-page .main-information {
        margin-top: -160px;
        max-width: 60%; }
        .mobile-view .landing-page .main-information .wrapper-button {
          display: flex;
          justify-content: flex-start;
          margin-top: 25px; }
          .mobile-view .landing-page .main-information .wrapper-button a {
            margin-right: 20px; }
            .mobile-view .landing-page .main-information .wrapper-button a img {
              height: 60px; }
    .mobile-view .problem {
      padding: 0 20px; }
      .mobile-view .problem .center {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%; }
        .mobile-view .problem .center .queue img {
          height: 400px; }
        .mobile-view .problem .center .define-problems {
          text-align: left;
          max-width: 60%;
          margin-left: 20px; }
          .mobile-view .problem .center .define-problems h2 {
            color: #3b6dcc; }
    .mobile-view .introduction {
      background: linear-gradient(to right, #3b6dcc, #2fb0dd);
      padding: 0 20px; }
      .mobile-view .introduction .center {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%; }
        .mobile-view .introduction .center .video {
          margin-left: 20px; }
          .mobile-view .introduction .center .video img {
            height: 400px; }
        .mobile-view .introduction .center .about-video {
          text-align: left;
          max-width: 60%; } }
@media (max-width: 915px) {
  .mobile-view .landing-page {
    padding: 0 20px; }
    .mobile-view .landing-page .absolute-hand {
      display: none; }
    .mobile-view .landing-page .main-information {
      max-width: 100%;
      text-align: center; }
      .mobile-view .landing-page .main-information .wrapper-button {
        display: flex;
        justify-content: center; }
        .mobile-view .landing-page .main-information .wrapper-button a img {
          height: 80px; }
  .mobile-view .problem .center {
    flex-direction: column;
    justify-content: flex-start; }
    .mobile-view .problem .center > div {
      max-width: 100% !important;
      text-align: center !important;
      margin: 0; }
    .mobile-view .problem .center .queue img {
      max-width: 100%; }
    .mobile-view .problem .center .define-problems {
      margin-top: -60px; }
  .mobile-view .introduction .center {
    flex-direction: column;
    justify-content: flex-start; }
    .mobile-view .introduction .center > div {
      max-width: 100% !important;
      text-align: center !important;
      margin: 0; }
    .mobile-view .introduction .center .about-video {
      margin-top: 50px; }
    .mobile-view .introduction .center .video {
      margin-top: 50px; }
      .mobile-view .introduction .center .video img {
        max-width: 100%; } }
@media (max-width: 550px) {
  .mobile-view .landing-page .main-information .wrapper-button a img {
    height: 40px; }
  .mobile-view .introduction .center .video img {
    height: 250px; } }

/*# sourceMappingURL=style.css.map */
