
// common information

$paragraph: 34px;

$primary-color: rgb(59, 109, 204);
$gradient-color: rgb(47, 176, 221);
$secondary-color: #fff;


body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    display: block;
}


.center{
    max-width: 1000px;
    margin: auto;
}

.clearfix::after{
    content: '';
    display: block;
    clear: both;
}

// common ends

// ------------ all for desktop view ------------------

// start of container 

.desktop{
    display: block;
}

.mobile-view{
    display: none;
}

.fixed{
    position: fixed;
    bottom:5%;
    left: 5%;
    
    color: #000;
    z-index: 100;
    font-size: 18px;




}

.second-fixed{
    position: fixed;
    top: 2%;
    left: 2%;
    color: $secondary-color;
    font-size: 80px;
    z-index: 100;
    font-weight: 700;
    cursor: pointer;
}

.third-fixed{
    position: fixed;
    bottom: 5%;
    right: 5%;
    z-index: 100;
    button{
        background: $primary-color;
        opacity:0.7;
        border-radius: 50%;
        width: 72px;
        height: 72px;
        border: 0;
        outline: 0;
        cursor: pointer;
        animation: grow 4s ease-in-out 3s infinite;
        display: block;
        .mouseSpan{
            
            img{
                height: 70px;
                width: 80px;

                position: absolute;
                left: -5px;
                top: -15px;
            }
        }
        .handSpan{
            
            img{
                height: 70px;
                width: 80px;
                z-index: 500;

                position: absolute;
                left: -8px;
                bottom: -5px;

                animation : hand 4s ease-in-out 3s infinite;
            }
        }
    }

    .hidden-btn{
        display: none;
        background:#fff;
        

        img{
            height: 70px;
            width: 80px;
            position: absolute;
            left: -5px;
            top: 0px;
        }
    }
}

@keyframes grow{
    0%{
        transform: scale(0.7);
        -webkit-transform: scale(0.7);
    }
    
    40%{
        transform: scale(1);
        -webkit-transform: scale(1);
       
    }

    100%{
        transform: scale(0.7);
        -webkit-transform: scale(0.7);
        
       
    }
}

@keyframes hand {
    0%{
        left: -8px;
        bottom: -5px;
    }

    40%{
        left:-8px;
        bottom: 5px;
    }
    
    60%{
        left:-8px;
        bottom: 0px;
    }

    80%{
        left:-8px;
        bottom: 5px;
    }

    100%{
        left: -8px;
        bottom: -5px;
    }

}

.container{
    width: 100%;
    height: 100%;
    overflow: hidden;
   position: relative;
   

   .items{
       width: 200%;
       height: 200%;
       position: fixed;
       top:0;
       left: 0;
        // background: url('../images/background.png') center center no-repeat ;
        
       
   }

   .boxes{
       width: 50%;
       height: 50%;
       position: absolute;
       top: 0%;
       left: 0%;
       background-size: cover;
   }

   #first{
    //    background: red;
       display: flex;
       align-items:center;
       justify-content: space-between;
       background: url('../images/section-1.jpg') center center no-repeat;
       background-size: cover;

       .mobile-first{
           transition: 1s;
           -webkit-transition: 1s;
           margin-left: -800px;
       }

  

       .main-information{
           margin-top:100px;
           align-self: flex-start;
           margin-right: 80px;
           margin-left: 0px;
           transition: 1s;
           -webkit-transition: 1s;
           opacity: 0;
           h1{
               color: $secondary-color;
               font-size: 100px;
               letter-spacing: 1px;
           }

           p{
               color: #000;
               font-size: $paragraph;
               margin-top: 30px;
           }

            .wrapper-button{
                margin-top: 140px;
                display: flex;
                justify-content: flex-start;
              

                a:last-child{
                    margin-left: 40px;
                }

            
            }
       }
    
       }

   #second{
    //    background: green;
       transform: translate(100% , 0%);
       display: flex;
       align-items: center;
       justify-content: space-between;
       background: url('../images/section-2.jpg') center center no-repeat;
       background-size: cover;
       
       

        .persons{
            position: relative;

            img{
                position: absolute;
                top: -200px;
                left: 60px;
                transition: 1s;
                -webkit-transition: 1s;
                height: 400px;


            }

      

            #image-2{
                left: 160px;
            }

            #image-1{
                left: 320px;
            }

            #image-4{
                left: 460px;
            }


        }

        .main-problems{
            // align-self: flex-start;
            margin-right: 80px;
            width: 800px;
            margin-left: 0px;
            transition: 1s;
            -webkit-transition: 1s;

            h2{
                color: $primary-color;
                font-size: 100px;
                letter-spacing:1px;
            }

            p{
                color: #000;
                font-size: $paragraph;
                margin-top: 30px;
            }

      

            .problem-1,.problem-2,.problem-3{
                transition: 1s;
                -webkit-transition: 1s;
            }

            .problem-2,.problem-3{
               display: none;
            }
        }

    }
    #third{
        // background: blue;
        // background: url('../images/background.png') center center no-repeat ;
       transform: translate(200% , 0%);
        position: relative;
       background: url('../images/section-3.jpg') center center no-repeat;
       background-size: cover;
       
        

        .absolute-images{
            .first-image{
                position: absolute;
    
                transition: 2s;
                -webkit-transition: 2s;
                
                // visibility: visible;

                img{
                    height: 600px;
                }
            }

            .second-image{
                position: absolute;
           
                transition: 2s;
                -webkit-transition: 2s;
                // opacity:0;
                // visibility: hidden;

                img{
                    height: 700px;
                }
            }


            .third-image{
                position: absolute;

                transition: 2s;
                -webkit-transition: 2s;
                // opacity:0;
                // visibility: hidden;

                img{
                    height: 700px;
                }
            }


            .fourth-image{
                position: absolute;

                transition: 2s;
                -webkit-transition:2s;
                

                img{
                    height: 600px;
                }
            }
        }

        .absolute-description{
            div{
                position: absolute;
                top: 29%;
                right: 10%;
                width: 800px;
                transition: 2s;
                -webkit-transition: 2s;

                h2{
                    color: $secondary-color;
                    font-size: 100px;
                    letter-spacing:1px;
                }

                p{
                    color: #000;
                    font-size: $paragraph;
                    margin-top: 30px;
                }
            }

            .second-description{
                // opacity:0;
            }
        }

   }

   #fourth{
        // background: pink;
        transform: translate(300% , 0%);
       background: url('../images/section-4.jpg') center center no-repeat;
       background-size: cover;

       .absolute-images{

            div{
                position: absolute;

                transition: 2s;
                -webkit-transition: 2s;

                img{
                    height: 700px;
                }
            }
            
        }

    .absolute-description{
        div{
            position: absolute;
            top: 29%;
            right: 10%;
            width: 800px;
            transition: 2s;
            -webkit-transition: 2s;

            h2{
                color: $primary-color;
                font-size: 100px;
                letter-spacing:1px;
            }

            p{
                color: #000;
                font-size: $paragraph;
                margin-top: 30px;
            }
        }

    }
       
        
   }

//    #fifth{
//         background: pink;
//         transform: translate(400% , 0%);
//    }
}

::-webkit-scrollbar { 
    display: none; 
}


@media(max-width:1630px){

 
    .container{
        #first{
            .mobile-first{
                img{
                    height: 680px;
                }
            }

            .main-information{
                margin-top: 200px;
                margin-left: 140px;
                h1{
                    font-size: 60px;
                }

                p{
                    font-size: 20px;
                }

                .wrapper-button{
                    margin-top: 60px;
                    img{
                        height: 70px;
                    }
                }
            }
        }

        #second{
            .persons{

                img{

                    height: 200px;
                    top: -100px;
                    left: 180px;
                    #image-2{
                        left: 240px !important;
                    }
        
                    #image-1{
                        left: 320px;
                    }
        
                    #image-4{
                        left: 460px;
                    }
                }
            }

            .main-problems{
                margin-right:20px;
                h2{
                    font-size: 60px;

                }

                p{
                    font-size: 20px;
                }
            }
        }

        #third{
            .absolute-images{
                .first-image, .fourth-image{
                    img{

                        height: 400px;
                    }
                }

                .second-image, .third-image{
                    img{

                        height: 500px;
                    }
                }
            }

            .absolute-description{
                div{
                    right: 2%;

                    h2{
                        font-size: 60px;
    
                    }
    
                    p{
                        font-size: 20px;
                    }
                }
            }
        }

        #fourth{
            .absolute-images{
        
                div{
                    img{

                        height: 500px;
                    }
                }
            }

            .absolute-description{
                div{
                    right: 2%;

                    h2{
                        font-size: 60px;
    
                    }
    
                    p{
                        font-size: 20px;
                    }
                }
            }
        }

      
    }


}


@media(max-width:1430px){

 
    .container{
        #first{
            .mobile-first{
                img{
                    height: 680px;
                }
            }

            .main-information{
                margin-top: 150px;
                margin-left: 180px;
                h1{
                    font-size: 60px;
                }

                p{
                    font-size: 20px;
                }

                .wrapper-button{
                    margin-top: 60px;
                    img{
                        height: 70px;
                    }
                }
            }
        }

        #second{
            .persons{

                img{

                    height: 200px;
                    top: -100px;
                    left: 180px;
                    #image-2{
                        left: 240px !important;
                    }
        
                    #image-1{
                        left: 320px;
                    }
        
                    #image-4{
                        left: 460px;
                    }
                }
            }

            .main-problems{
                width: 600px;
                margin-right:0px;
              
            }
        }

        #third{
            .absolute-images{
                .first-image, .fourth-image{
                    img{

                        height: 350px;
                    }
                }

                .second-image, .third-image{
                    img{

                        height: 450px;
                    }
                }
            }

            .absolute-description{
                div{
                    right: 5%;
                    width: 600px;

                }
            }
        }

        #fourth{
            .absolute-images{
        
                div{
                    img{

                        height: 450px;
                    }
                }
            }

            .absolute-description{
                div{
                    right: 5%;
                    width: 600px;
                }
            }
        }

      
    }


}


// for mobile view
@media (max-width:1200px){
    .desktop{
        display: none;
    }

    .mobile-view{
        display: block;
        

        // landing start

        >div{
            height: 652px;

        }

        h1,h2{
            font-size: 60px;
            color: #fff;
        }

        p{
            font-size: 20px;
            margin-top: 25px;
        }
    

        .landing-page{
            background: linear-gradient(to right,rgba(59, 109, 204, 0.7), rgba(47, 176, 221,0.7)), url(../images/parallex.jpg) 0 0 no-repeat fixed;
            max-width: 100%;
            background-size: cover;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            background-position: top;
            clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
            .absolute-hand{
                position: absolute;
                bottom: 0;
                left: 0;

                img{
                height: 700px;
                    
                }
            }
            .center{
                display: flex;
                justify-content: flex-end;
            }
    
            .main-information{
                margin-top: -160px;
                // margin-left: 50px;
                max-width: 60%;
                
            
    
            
    
                .wrapper-button{
                    display: flex;
                    justify-content: flex-start;
                    margin-top: 25px;
    
                    a{
                        margin-right: 20px;
                        
                        img{
                            height: 60px;
    
                        }
                    }
    
                }
            }
        }

        // landing ends

        // problem start

        .problem, .working{
            padding: 0 20px;
            
            .center{
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 100%;

                .queue, .question{
                    img{
                        height: 400px;
                    }
                }

                .define-problems, .define-question{
                    text-align: left;
                    max-width: 60%;
                    margin-left: 20px;

                    h2{
                        color: $primary-color;
                    }

                  
                }
            }
        }

        // introduction start

        .introduction{
            background: linear-gradient(to right,$primary-color, $gradient-color);
            padding: 0 20px;
            
            .center{
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 100%;

                .video{
                    margin-left: 20px;
                    img{
                        height: 400px;
                    }
                }

                .about-video{
                    text-align: left;
                    max-width: 60%;

                  

                  
                }
            }
        }


        // working start

        //------ same as problem-----------

        // steps start

        .steps{
            height: auto;
            padding: 0 20px;
            // background: red;

            ul{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                // align-items: center;
                height: 100%;
        

                li{
                    list-style:none;
                    display: flex;
                    justify-content: space-between;
                    position: relative;

                    .mobile{
                        max-width: 50%;
                        img{
                            height: 400px;
                        }
                    }

                    .about-mobile{
                        max-width: 50%;
                        display: flex;
                        align-items: center;
                        margin-left: 30px;

                        strong{
                            // display: block;
                            color: #000;
                            font-size: 30px;
                            margin-top: -200px;
                            font-weight: 400;

                        }
                    }

                    .hidden-number{
                        position: absolute;
                        left: 34%;
                        top:5%;
                        z-index: -100;

                        strong{
                            font-size: 160px;
                            color: #ebebeb;
                            // opacity: 0.7;
                        }
                    }
                }

                li:nth-child(even){
                    flex-direction: row-reverse;

                    .hidden-number{
                        left: 45%;
                    }
                }
            }
        }
        
    }


}

@media(max-width:915px){
    .mobile-view{
        .landing-page{
            padding: 0 20px;
            .absolute-hand{
                display: none;
            }

       

            .main-information{
                max-width: 100%;

                text-align: center;
             

                .wrapper-button{
                    display: flex;
                    justify-content: center;

                    a{

                        img{
                            height: 80px;
                        }
                    }
                }
            }
        }

        // for problem page

        .problem, .working{

            .center{
                flex-direction: column;
                justify-content: flex-start;
                > div{
                    max-width: 100% !important;
                    text-align: center !important;
                    margin: 0;
                }

                .queue, .question{

                    img{
                        max-width:100%;
                    }
                }

                .define-problems, .define-question{
                    margin-top: -60px;  
                }

            
             
              
            }
        }

        // introcution start

        .introduction{

            .center{
                flex-direction: column;
                justify-content: flex-start;
                > div{
                    max-width: 100% !important;
                    text-align: center !important;
                    margin: 0;
                }

                .about-video{
                    margin-top: 50px;
                }

                .video{
                    margin-top: 30px;

                    img{
                        max-width:100%;
                    }
                }

            
             
              
            }
        }

        // working start

        .working{
            .center{
                .define-question{

                    h2{
                        margin-top: 30px; 
                    }
                        
                }
            }
        }

        // steps start

        .steps{
            ul{
                li{
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    .mobile{
                        max-width: 100%;
                    }

                    .about-mobile{
                        max-width: 100%;
                        margin-top: 140px;
                    }

                    .hidden-number{
                        left:10%;
                    }
                    border-bottom: 1px dotted #eee;
                }

                li:nth-child(even){
                    flex-direction: column;

                    .hidden-number{
                        left: 10%;
                    }
                }
            }
        }

        
    }
}

@media(max-width:550px){
    .mobile-view{
        .landing-page{

            .main-information{
                .wrapper-button{
                    a{
                        img{
                            height: 40px;
                        }
                    }
                }
            }
        }

        // for problem page


        // for introduction

        .introduction{
            .center{
                .video{
                    img{
                        height: 250px;
                    }
                }
            }
        }

        // for steps

        .steps{
            margin-top: 50px;
            ul{
                li{

                    .mobile{

                        img{

                            height: 250px;
                        }
                    }

                    .about-mobile{
                        strong{
                            font-size: 22px;
                        }
                    }
                    
                    .hidden-number{
                        top: 20%;
                        left: 2%;
                        strong{
                            font-size: 80px;
                        }
                    }
                }

                li:nth-child(even){
                    .hidden-number{
                        left:2%;
                    }
                }
            }
        }



    }
}

@media (max-width:360px){

    .mobile-view{
        h1,h2{
            font-size: 35px;
        }

        p{
            font-size: 18px;
        }
    }
}