
// common information

$paragraph: 34px;

$primary-color: #3b6dcc;
$secondary-color: #fff;


body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    display: block;
}


.clearfix::after{
    content: '';
    display: block;
    clear: both;
}

// common ends

// ------------ all for desktop view ------------------

// start of container 

.fixed{
    position: fixed;
    bottom:5%;
    left: 5%;
    
    color: $primary-color;
    z-index: 100;
    font-size: 18px;




}

.second-fixed{
    position: fixed;
    top: 2%;
    left: 2%;
    color: $secondary-color;
    font-size: 80px;
    z-index: 100;
    font-weight: 700;
}

.container{
    width: 100%;
    height: 100%;
    overflow: hidden;
   position: relative;
   

   .items{
       width: 200%;
       height: 200%;
       position: fixed;
       top:0;
       left: 0;
        // background: url('../images/background.png') center center no-repeat ;
        
       
   }

   .boxes{
       width: 50%;
       height: 50%;
       position: absolute;
       top: 0%;
       left: 0%;
       background-size: cover;
   }

   #first{
    //    background: red;
       display: flex;
       align-items:center;
       justify-content: space-between;
       background: url('../images/section-1.jpg') center center no-repeat;
       background-size: cover;

       .mobile-first{
           transition: 1s;
           -webkit-transition: 1s;
           margin-left: -800px;
       }

  

       .main-information{
           margin-top:100px;
           align-self: flex-start;
           margin-right: 80px;
           margin-left: 0px;
           transition: 1s;
           -webkit-transition: 1s;
           opacity: 0;
           h1{
               color: $secondary-color;
               font-size: 100px;
               letter-spacing: 1px;
           }

           p{
               color: #000;
               font-size: $paragraph;
               margin-top: 30px;
           }

            .wrapper-button{
                margin-top: 140px;
                display: flex;
                justify-content: flex-start;
              

                a:last-child{
                    margin-left: 40px;
                }

            
            }
       }
    
       }

   #second{
    //    background: green;
       transform: translate(100% , 0%);
       display: flex;
       align-items: center;
       justify-content: space-between;
       background: url('../images/section-2.jpg') center center no-repeat;
       background-size: cover;
       
       

        .persons{
            position: relative;

            img{
                position: absolute;
                top: -200px;
                left: 60px;
                transition: 1s;
                -webkit-transition: 1s;
                height: 400px;


            }

      

            #image-2{
                left: 160px;
            }

            #image-1{
                left: 320px;
            }

            #image-4{
                left: 460px;
            }


        }

        .main-problems{
            // align-self: flex-start;
            margin-right: 80px;
            width: 800px;
            margin-left: 0px;
            transition: 1s;
            -webkit-transition: 1s;

            h2{
                color: $primary-color;
                font-size: 100px;
                letter-spacing:1px;
            }

            p{
                color: #000;
                font-size: $paragraph;
                margin-top: 30px;
            }

      

            .problem-1,.problem-2,.problem-3{
                transition: 1s;
                -webkit-transition: 1s;
            }

            .problem-2,.problem-3{
               display: none;
            }
        }

    }
    #third{
        // background: blue;
        // background: url('../images/background.png') center center no-repeat ;
       transform: translate(200% , 0%);
        position: relative;
       background: url('../images/section-3.jpg') center center no-repeat;
       background-size: cover;
       
        

        .absolute-images{
            .first-image{
                position: absolute;
    
                transition: 2s;
                -webkit-transition: 2s;
                
                // visibility: visible;

                img{
                    height: 600px;
                }
            }

            .second-image{
                position: absolute;
           
                transition: 2s;
                -webkit-transition: 2s;
                // opacity:0;
                // visibility: hidden;

                img{
                    height: 700px;
                }
            }


            .third-image{
                position: absolute;

                transition: 2s;
                -webkit-transition: 2s;
                // opacity:0;
                // visibility: hidden;

                img{
                    height: 700px;
                }
            }


            .fourth-image{
                position: absolute;

                transition: 2s;
                -webkit-transition:2s;
                

                img{
                    height: 600px;
                }
            }
        }

        .absolute-description{
            .first-description, .second-description, .third-description, .fourth-description{
                position: absolute;
                top: 29%;
                right: 10%;
                width: 800px;
                transition: 2s;
                -webkit-transition: 2s;

                h2{
                    color: $secondary-color;
                    font-size: 100px;
                    letter-spacing:1px;
                }

                p{
                    color: #000;
                    font-size: $paragraph;
                    margin-top: 30px;
                }
            }

            .second-description{
                // opacity:0;
            }
        }

   }

   #fourth{
        // background: pink;
        transform: translate(300% , 0%);
       background: url('../images/section-4.jpg') center center no-repeat;
       background-size: cover;

       .absolute-images{
        .first-image{
            position: absolute;

            transition: 2s;
            -webkit-transition: 2s;
            
            // visibility: visible;

            img{
                height: 600px;
            }
        }

        .second-image{
            position: absolute;
       
            transition: 2s;
            -webkit-transition: 2s;
            // opacity:0;
            // visibility: hidden;

            img{
                height: 700px;
            }
        }


        .third-image{
            position: absolute;

            transition: 2s;
            -webkit-transition: 2s;
            // opacity:0;
            // visibility: hidden;

            img{
                height: 700px;
            }
        }


        .fourth-image{
            position: absolute;

            transition: 2s;
            -webkit-transition:2s;
            

            img{
                height: 600px;
            }
        }
    }

    .absolute-description{
        .first-description, .second-description, .third-description, .fourth-description{
            position: absolute;
            top: 29%;
            right: 10%;
            width: 800px;
            transition: 2s;
            -webkit-transition: 2s;

            h2{
                color: $primary-color;
                font-size: 100px;
                letter-spacing:1px;
            }

            p{
                color: #000;
                font-size: $paragraph;
                margin-top: 30px;
            }
        }

        .second-description{
            // opacity:0;
        }
    }
       
        
   }

//    #fifth{
//         background: pink;
//         transform: translate(400% , 0%);
//    }
}

::-webkit-scrollbar { 
    display: none; 
}